/* body {
    background-color: red;
} */



.Slider {
    width: 100%;
    margin: 0;
}

.slide{
    margin: 0;
    display: flex;
    justify-content: center;
}


.slider-ig {
    margin: 0;
    width: 100%;
    height: 30%;
    /* object-fit: cover; */
}